<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eagle.CLRv4.Core" version="1.0.7945.33333" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Harpy.CLRv4" version="1.0.7945.33333" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.SEE.NetFramework" version="1.0.115.6" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net48" />
</packages>